@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
    /*from left move in*/ }
  40% {
    transform: rotate(10deg); }
  80% {
    transform: translateX(3rem);
    transform: rotate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* mean look like right now*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
    /*from left move in*/ }
  40% {
    transform: rotate(10deg); }
  80% {
    transform: translateX(-3rem);
    transform: rotate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* mean look like right now*/ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(40rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* fix shaking */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 30px;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    /*
        animation-iteration-count: 2;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.4rem;
    animation: moveInRight 1.5s 0.5s ease-out;
    /* short cut*/ }

.heading-seconday {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #9cd8f0, #aab1a9);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-seconday:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  /*move up*/
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  /*specifying content property is nedded*/
  dispaly: inline-block;
  height: 100%;
  /*same as parent(btn)*/
  width: 100%;
  /*same as parent(btn)*/
  border-radius: 10rem;
  position: absolute;
  /*need reference(relative)*/
  top: 0;
  left: 0;
  z-index: -1;
  /*behind the btn */
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 1.0s 0.5s ease-out;
  animation-fill-mode: backwards;
  /*apply stype up to 0% before animation start*/ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #134e91;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #134e91;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #134e91;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(0); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem)) / 4 + 2 * 6rem); }

.header {
  height: 240vh;
  /* the height of this element should be 95% of viewport height*/
  background-image: linear-gradient(to right bottom, rgba(156, 216, 240, 0.8), rgba(170, 177, 169, 0.8)), url(../img/background.jpg);
  background-size: cover;
  /*try to fix image into header*/
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 200% 200vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 20%;
    /*50% top from parent*/
    left: 50%;
    /*50% left from parent*/
    transform: translate(-50%, -50%);
    /*shift -50% itself*/
    text-align: center;
    width: 70%; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
