.card {
    perspective: 120rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side {
        color: #fff;
        font-size: 2rem;

        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; // because we have absolute position here, width of 100% is not automatically applied to the block element,
        backface-visibility: hidden; // important
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .25);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        }
    }

    // when we hover the card, the card__side will be transformed
    //.card:hover .card__side {}
    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}
