.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .3);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        // all it does is to define where the content floats around the element
        -webkit-shape-outside: circle(50% at 50% 50%); 
        shape-outside: circle(50% at 50% 50%);// radius, x , y
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);// radius, x , y
        transform: translateX(-3rem) skewX(12deg);
    }

    &__img {
        width: 100%; // because img is inside the shape
    }

    &__text {
        transform: skewX(12deg);
    }


}